/* src/App.css */
.App {
    width: 500px;  
    height: 400px; 
    padding: 20px;
    box-sizing: border-box; 
  }
  
  #mainButton {
    width: 100%; 
    height: 50px; 
  }
  
  #textOutput {
    width: 100%;
    height: 300px; 
  }
  